<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="closeModal()">
       <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>January 16th, 2020</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Events:</ion-label>
  </ion-item>
  <ion-item>

    <section>
      <header>Block Width</header>
      
      <ion-button expand="block"  color="dark">
        -Presentation at 3 pm: 
        <br>
        Location: The Mix
      </ion-button>
    </section>

    <section>
      <header>Block Width</header>
      
      <ion-button expand="block"  color="dark">
        -Dinner with Friends at 7 pm
        <br>
        Location: The JC
      </ion-button>
    </section>
 
</ion-content>
