<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="closeModal()">
       <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>January 16th, 2020</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Events:</ion-label>
  </ion-item>

  <ion-item color="primary">
    <ion-label>
      -Presentation at 3 pm: 
      <br>
       Location: The Mix
    </ion-label>
  </ion-item>

  <ion-item color="primary">
    <ion-label>
      -Dinner with Friends at 7 pm
      <br>
      Location: The JC
    </ion-label>
  </ion-item>
</ion-content>
