<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="closeModal()">
       <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>View Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class ="no-scroll">
  <ion-item color = "primary">
    <ion-label>Event Name: {{eventName}}</ion-label>
  </ion-item>
  
  <ion-item color = "primary">
    <ion-label >Date: {{eventTime | date: 'dd/MM/yy'}}</ion-label>
    
  </ion-item>

  <ion-item color = "primary">
    <ion-label>Location: {{eventLocation}}</ion-label>

  </ion-item>

  <ion-item color = "primary">
    <ion-label>Time: {{eventTime | date: 'h:mma'}}</ion-label>
  </ion-item>

  <ion-item color = "primary">
    <ion-label>How to Dress: NEED TO DO</ion-label>
  </ion-item>

  <ion-item color = "primary">
    <ion-label>What to Bring: {{eventBring}}</ion-label>
  </ion-item>

  <ion-item color = "primary">
    <ion-label>Notes: {{eventNotes}} </ion-label>
  
  </ion-item>
  <section>
    <ion-button size="large" color="primary">
      Edit Event
    </ion-button>
  </section>
  <section>
    <ion-button size="large" color="danger">
      Delete Event
    </ion-button>
  </section>
</ion-content>
