<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="closeModal()">
       <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>View Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Event Name:</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Date of Event:</ion-label>
    
  </ion-item>

  <ion-item>
    <ion-label position="floating">Location:</ion-label>

  </ion-item>

  <ion-item>
    <ion-label position="floating">Time of Event</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">How to Dress:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">What to Bring</ion-label>
  
  </ion-item>

  <ion-item>
    <ion-label position="floating">Notes:</ion-label>
  
  </ion-item>

  <ion-button size="large" color="primary">Edit Event</ion-button>
</ion-content>
