<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="closeModal()">
       <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Edit Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Event Name:</ion-label>
    <ion-input [(ngModel)]="newEvent.name" name="name" placeholder="{{eventName}}"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Date of Event:</ion-label>
    <ion-datetime placeholder="Select Date" [(ngModel)]="newEvent.date" name="date" placeholder="{{eventTime | date: 'dd/MM/yy'}}"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Location:</ion-label>
    <ion-input [(ngModel)]="newEvent.location" placeholder ="{{eventLocation}}" name="location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Time of Event</ion-label>
    <ion-datetime displayFormat="hh:mm a" placeholder="{{eventTime | date: 'h:mma'}}" [(ngModel)]="newEvent.time" name="time"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-select value="Casual"  [(ngModel)]="newEvent.dress" placeholder ="{{eventDress}}" >
      <ion-select-option value="Casual">Casual</ion-select-option>
      <ion-select-option value="Semi-Formal">Semi-Formal</ion-select-option>
      <ion-select-option value="Formal">Formal</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>What to Bring</ion-label>
    <ion-input [(ngModel)]="newEvent.bring" name="bring" placeholder = "{{eventBring}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Notes:</ion-label>
    <ion-input [(ngModel)]="newEvent.notes" name="notes" placeholder = "{{eventNotes}}"></ion-input>
  </ion-item>

  <ion-button size="large" color="primary" type="submit" (click)="editEvent()">Save Changes</ion-button>
</ion-content>
