<ion-header>
  <ion-toolbar>
    <ion-title>Add Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Event Name:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Date of Event:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Location:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Time of Event</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">How to Dress:</ion-label>
    <ion-textarea placeholder="Optional"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">What to Bring</ion-label>
    <ion-textarea placeholder="Optional"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Notes:</ion-label>
    <ion-textarea placeholder="Optional"></ion-textarea>
  </ion-item>

  <ion-button size="large" color="primary">Add to Calendar</ion-button>
</ion-content>
