<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="closeModal()">
       <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Add Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Event Name:</ion-label>
    <ion-input [(ngModel)]="newEvent.name" name="name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Date of Event:</ion-label>
    <ion-datetime placeholder="Select Date" [(ngModel)]="newEvent.date" name="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Location:</ion-label>
    <ion-input [(ngModel)]="newEvent.location" name="location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Time of Event</ion-label>
    <ion-datetime displayFormat="hh:mm a" placeholder="Select a time" [(ngModel)]="newEvent.time" name="time"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">How to Dress:</ion-label>
    <ion-select value="c">
      <ion-select-option value="c">Casual</ion-select-option>
      <ion-select-option value="s">Semi-Formal</ion-select-option>
      <ion-select-option value="f">Formal</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">What to Bring</ion-label>
    <ion-input [(ngModel)]="newEvent.bring" name="bring"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Notes:</ion-label>
    <ion-input [(ngModel)]="newEvent.notes" name="notes"></ion-input>
  </ion-item>

  <ion-button size="large" color="primary" type="submit" (click)="addEvent()">Add to Calendar</ion-button>
</ion-content>
