<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" center>

    <h5>Monday, March 23</h5>

    <ion-icon class="weather-icon" name="rainy-outline"></ion-icon>
    <h1>73˚F</h1>
    <h3>Cameron, it's <span class="weather-text">raining</span> outside</h3>
  
  <ion-item scrollX="true">
      <ion-button size="medium" color="light">Day1</ion-button>
      <ion-button size="medium" color="medium">Day2</ion-button>
      <ion-button size="medium" color="dark">Day3</ion-button>
      <ion-button size="medium" color="primary">Day4</ion-button>
  </ion-item>

</ion-content>
