<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" center>

  <h5>Fairfax, VA: Monday, March 23</h5>

    <ion-icon class="weather-icon" name="rainy-outline"></ion-icon>
    <h1>73˚F</h1>
    <h3>Cameron, it's <span class="weather-text">raining</span> outside</h3>

    <ion-slides class="other-day-weather">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>04/27</ion-card-subtitle>
            <ion-card-title>
              <ion-icon name="sunny-outline" style="color: yellow;"></ion-icon>
              <div class="temp">83˚F</div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>04/28</ion-card-subtitle>
            <ion-card-title>
              <ion-icon name="cloudy-outline"></ion-icon>
              <div class="temp">76˚F</div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-slide>

      <ion-slide>
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-card id="weather-danger">
          <ion-card-header>
            <ion-card-subtitle>04/29 <ion-badge color="danger">!</ion-badge> </ion-card-subtitle>
            <ion-card-title>
              <ion-icon name="thunderstorm-outline"></ion-icon>
              <div class="temp">76˚F</div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>04/30</ion-card-subtitle>
            <ion-card-title>
              <ion-icon name="sunny-outline" style="color: yellow;"></ion-icon>
              <div class="temp">76˚F</div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
  <h5>Events Today</h5>

 
  <ion-list>
    <ion-item-sliding>
      <ion-item color="primary" button (click)="presentViewEvent()">
        <ion-label>
          Event 1
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item color="primary" button (click)="presentViewEvent()">
        <ion-label>
          Event 2
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item color="primary" button (click)="presentViewEvent()">
        <ion-label>
          Event 3
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
