<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" center>

  <h5>Fairfax, VA: Monday, March 23</h5>

    <ion-icon class="weather-icon" name="rainy-outline"></ion-icon>
    <h1>73˚F</h1>
    <h3>Cameron, it's <span class="weather-text">raining</span> outside</h3>
  
  <ion-item scrollX="true">
      <ion-button size="medium" color="light">Day1</ion-button>
      <ion-button size="medium" color="medium">Day2</ion-button>
      <ion-button size="medium" color="dark">Day3</ion-button>
      <ion-button size="medium" color="primary">Day4</ion-button>
  </ion-item>
  <h5>Events Today</h5>

 
  <ion-list>
    <ion-item-sliding>
      <ion-item color="primary" button (click)="presentViewEvent()">
        <ion-label>
          Event 1
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item color="primary" button (click)="presentViewEvent()">
        <ion-label>
          Event 2
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item color="primary" button (click)="presentViewEvent()">
        <ion-label>
          Event 3
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
