<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="presentAddEvent()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Calendar</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" center>

  <div class="ion-padding">

    <ion-calendar [(ngModel)]="date"
      (onChange)="onChange($event)"
      [type]="type"
      [format]="'YYYY-MM-DD'">
    </ion-calendar>

  </div>
  

  
</ion-content>
